<div class="job">
  <div class="job__logo">
    <a [routerLink]="['.', 'companies', job.company.id , 'jobs', job.id]">
      <img
        class="job__logo"
        [src]="'/remote-images/company/logo?slug=' + job.company.id + '&size=medium'"
        [srcset]="'/remote-images/company/logo?slug=' + job.company.id + '&size=medium%402x 2x'"
        [alt]="'Logo de ' + job.company.name"
      >
    </a>
  </div>

  <div class="job__description">
    <h4>
      <a [routerLink]="['.', 'companies', job.company.id , 'jobs', job.id]">{{ job.title }}</a>
    </h4>

    <div>
      <span class="text-muted">Par</span>
      <span>{{ job.company.name }}</span>,
      <span class="text-muted">{{ job.location.display_value }}</span>
    </div>

    <div class="text-muted">
      {{ job.start_date && moment(job.start_date).isAfter(moment()) ? ('Débute ' + moment(job.start_date).fromNow()) : '' }}
    </div>
  </div>

  <div class="job__info">
    <div>
      <span [className]="'badge badge--' + job.contract.slug">{{ job.contract.title_short }}</span>
    </div>

    <a>
      <a
        class="btn btn-link btn-xs"
        [routerLink]="['.', 'companies', job.company.id , 'jobs', job.id, 'save']">
        <span class="glyphicon glyphicon-star"></span>
        <span>{{ job.bookmarked ? 'Sauvegardée' : 'Sauvegarder' }}</span>
      </a>
    </a>

    <div class="text-muted">
      {{ moment(job.date_created).fromNow() }}
    </div>
  </div>
</div>
